#executables and compiler stuff
levelup
*.o
#ENSDF data files
ensdf.*
ensdf_db
#files generated when testing program
list
*tmpdatafile*
#data file types
*.mca
*.spe
*.root
#temporary files from text editors
*.save
*~
sample_parameters
